[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coverage = "*"

[packages]
django = "==3.0.3"  # Remember to re-generate `requirements.txt`
mysqlclient = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["saml"],version = "*"}
python3-saml = "*"
cx-oracle = "*"
django-annoying = "*"
django-crispy-forms = "==1.8.1"
django-summernote = "*"
django-tables2 = "==2.2.1"
django-templated-email = "*"
pypandoc = "*"
bleach = "*"

[requires]
python_version = "3.7"
