[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
django-debug-toolbar = "*"
django-fastdev = "*"
django-stubs = "*"
django-upgrade = "*"
djhtml = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pyupgrade = "*"
rope = "*"
types-bleach = "*"
types-requests = "*"

[packages]
# bleach = {extras = ["css"], version = "*"}
crispy-bootstrap5 = "*"
django = "~=5.1"  # Remember to re-generate `requirements.txt`: `pipenv requirements`
django-annoying = "*"
django-crispy-forms = "*"
django-filter = "*"
django-summernote = "*"
django-tables2 = "*"
django-templated-email = "*"
huey = "*"
mysqlclient = "*"
nh3 = "*"
pypandoc = "*"
python-magic = "*"
python3-saml = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["saml"],version = "*"}
tablib = "*"
weasyprint = "*"  # 53+ requires pango 1.44
zeep = "*"
# pydyf = "==0.10.0"  # pydyf 0.11.0 rompe weasyprint 61. 62+ funcionará bien y se podrá eliminar esta línea.

[requires]
python_version = "3"

[pipenv]
allow_prereleases = false
