[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
django-debug-toolbar = "*"
pylint = "*"
rope = "*"

[packages]
bleach = "*"
django = "==3.1.2"  # Remember to re-generate `requirements.txt`
django-annoying = "*"
django-crispy-forms = "==1.9.2"
django-summernote = "*"
django-tables2 = "==2.3.1"
django-templated-email = "*"
mysqlclient = "*"
pypandoc = "*"
python3-saml = "*"
social-auth-app-django = "*"
social-auth-core = {extras = ["saml"],version = "*"}
zeep = "*"
python-magic = "*"

[requires]
python_version = "3.7"
