{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans "Inicio de sesión" %}{% endblock title %}
{% block description %}{% trans "Inicio de sesión local" %}{% endblock description %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
{% endblock extracss %}

{% block content %}
    <div class="p-4 mb-4 rounded-3">
        <div class="container-fluid py-5 jumbotron">
            <a href="{% url 'home' %}"><span class="fas fa-project-diagram" style="font-size: 400%;"></span></a>
            <br /><br />

            <form class="form-signin" method="post">
                {% csrf_token %}

                <label for="id_username" class="visually-hidden">{% trans "Usuario" %}</label>
                <input type="text" id="id_username" name="username" class="form-control" placeholder="Usuario" required autofocus />

                <label for="id_password" class="visually-hidden">{% trans "Contraseña" %}</label>
                <input type="password" id="id_password" name="password" class="form-control" placeholder="Contraseña" required />

                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Iniciar sesión" %}</button>
            </form>
        </div>
    </div>
{% endblock content %}
