{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Bienvenida" %}{% endblock title %}
{% block description %}{% trans "Datos del usuario" %}{% endblock description %}

{% block content %}
    <div class="container-blanco">
        <h1 id="datos">{% trans "Datos del usuario" %}</h1>
        <hr />
        <br />

        <table class="table table-striped table-hover" aria-describedby="datos">
            {% for key, value in datos_usuario.items %}
                <tr>
                    <th scope="row">{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
