{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Proyectos aceptados" %}{% endblock title %}

{% block content %}
<div class="container-blanco">
  <h1 id="presentados">{% trans "Proyectos aceptados" %} <small>{{ anyo }}</small></h1>
  <hr />
  <br />

  <div class="alert alert-info alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="{{ _('Cerrar') }}">
      <span aria-hidden="true">&times;</span>
    </button>

    <span class="fas fa-info-circle"></span>
    <p>
      {% blocktranslate %}
        En esta página puede ver los proyectos de esta convocatoria que han sido aprobados
        por la Comisión Evaluadora <strong>y</strong> aceptados por su coordinador.
      {% endblocktranslate %}
    </p>
    {% if user.is_authenticated %}
      {% url 'mis_proyectos' anyo_actual as mis_proyectos_url %}
      <p>{% blocktranslate %}
        Si usted es un coordinador que <strong>desea aceptar</strong> un proyecto aprobado
        por la Comisión, vaya a «<a href="{{ mis_proyectos_url }}">Mis proyectos</a>»,
        entre en el proyecto y pulse el botón de aceptación de las condiciones
        que está bajo la tabla de datos básicos.
      {% endblocktranslate %}</p>
    {% endif %}
  </div>
  <br />

  {% render_table table %}

  <br style="clear: both" />
  <div class="btn-group" role="group" aria-label="Botones">
    <a href="{% url 'proyectos_aceptados' anyo %}?_export=csv" class="btn btn-info">
      <span class="fas fa-file-csv"></span>&nbsp; {% trans "Descargar datos" %}
    </a>
  </div>

</div>

{% endblock content %}
