{% extends 'base.html' %}
{% load custom_tags i18n %}
{% block content %}
<div class="container-blanco">
  <div class="alert alert-info">
    <i class="fas fa-info-circle"></i>
    <div>
      {% trans 'Puede editar su solicitud tantas veces como desee.' %}<br />
      {% trans 'Cuando esté satisfecho, pulse el botón «Presentar».' %}
      {% trans 'Una vez haya presentado la solicitud, ya no podrá modificarla.' %}
    </div>
  </div>

  <h1>{{ proyecto.titulo }}</h1>
  {# DetailView proporciona el objeto de contexto `proyecto` #}
  <hr />
  <br />

  <p><strong>{% trans 'Convocatoria' %}</strong>: {{ proyecto.convocatoria_id }}</p>

  <p>
    <strong>{% trans 'Programa' %}</strong>: {{ proyecto.programa.nombre_corto }} ({{ proyecto.programa.nombre_largo }})
  </p>

  {% if proyecto.linea %}
    <p><strong>{% trans 'Línea' %}</strong>: {{ proyecto.linea.nombre }}</p>
  {% endif %}

  {% if proyecto.centro %}
    <p><strong>{% trans 'Centro' %}</strong>: {{ proyecto.centro.nombre }}</p>
  {% endif %}

  {% if proyecto.estudio %}
    <p><strong>{% trans 'Estudio' %}</strong>: {{ proyecto.estudio.nombre }}</p>
  {% endif %}

  {% if coordinador_principal %}
    <p>
      <strong>{{ coordinador_principal.get_cargo }}</strong>:
      {{ coordinador_principal.usuario.get_full_name }}
    </p>
  {% endif %}

  {% if coordinador %}
    <p>
      <strong>{{ coordinador.get_cargo }}</strong>:
      {{ coordinador.usuario.get_full_name }}
    </p>
  {% endif %}

  <p><strong>{% trans 'Invitados' %}</strong>:<br /></p>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
      {% for invitado in invitados %}
        <tr>
          <td>{{ invitado.usuario.get_full_name }}</td>
          <td><a href={% url 'participante_delete' invitado.id %} aria-label="{% trans "Eliminar" %}"><i aria-hidden="true" class="fas fa-trash-alt" title="{% trans "Eliminar" %}"></i></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <p>
    <a href="{% url 'participante_invitar' proyecto.id %}" class="btn btn-info btn-sm"
      ><i class="fas fa-plus" aria-hidden="true"></i>&nbsp; {% trans 'Añadir' %}</a>
  </p>

  <p><strong>{% trans 'Participantes' %}</strong>:<br /></p>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
      {% for participante in participantes %}
        <tr>
          <td>{{ participante.usuario.get_full_name }}</td>
          <td><a href={% url 'participante_delete' participante.id %} aria-label="{% trans "Eliminar" %}"><i aria-hidden="true" class="fas fa-trash-alt" title="{% trans "Eliminar" %}"></i></a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <br />

  {# TODO: filtro para HTML procedente de procesador de textos #}
  <h3>{% trans 'Descripción' %}</h3>
  <p>{{ proyecto.descripcion | safe }}</p>

  {% for campo in campos %}
    <h3>{{ proyecto|get_attr_verbose_name:campo }}</h3>
    <p>{{ proyecto | get_obj_attr:campo | default:"" | safe }}</p>
    <p>
      <a href="{% url 'proyecto_update_field' proyecto.id campo %}" class="btn btn-info btn-sm">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>&nbsp; {% trans 'Editar' %}
      </a>
    </p>
  {% endfor %}

  <h3>{{ proyecto | get_attr_verbose_name:"financiacion" }}</h3>
  <p>{{ proyecto.financiacion | default:"" | safe }}</p>

  <h3>{{ proyecto | get_attr_verbose_name:"ayuda" }}</h3>
  <p>{{ proyecto.ayuda | default:"" }}</p>

  <br style="clear: both;" />
  <div class="btn-group" role="group" aria-label="Botones">
    <a href="{% url 'proyectos_usuario_list' %}" class="btn btn-info">
      <i class="fas fa-step-backward"></i> {% trans 'Retroceder' %}
    </a>
    <button class="btn btn-warning" data-toggle="modal" data-target="#presentarModal" type="button">
      <i class="fas fa-check"></i> {% trans 'Presentar' %}
    </button>
  </div>
</div>


<div class="modal fade" id="presentarModal" tabindex="-1" role="dialog" aria-labelledby="presentarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="presentarModalLabel">{% trans "¿Seguro que desea presentar la solicitud?" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{% trans "Una vez presentada ya no podrá hacer ningún cambio." %}</p>
        <p>{% trans "Se enviarán mensajes informativos a las personas invitadas y, en su caso, a quien deba dar su visto bueno." %}</p>
      </div>
      <div class="modal-footer">
        <form action="{% url 'proyecto_presentar' pk=proyecto.id %}" id="presentar-form" method="post">
          {% csrf_token %}
          <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fas fa-times"></i> {% trans "Cancelar" %}</button>
          <button type="submit" class="btn btn-warning"><i class="fas fa-check"></i> {% trans "Presentar" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}