{% extends 'base.html' %}
{% load custom_tags i18n static %}

{% block title %}{% trans 'Solicitud de proyecto' %}: {{ proyecto.titulo }}{% endblock title %}

{% block content %}
    <div class="container-blanco">
        {% if permitir_edicion and proyecto.en_borrador %}
            <div class="alert alert-info alert-dismissible fade show noprint">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

                <span class="fas fa-info-circle"></span>
                <p>
                    {% trans 'Puede editar su solicitud tantas veces como desee.' %}<br />
                    {% trans 'Cuando esté satisfecho, pulse el botón «Presentar».' %}
                    {% trans 'Una vez haya presentado la solicitud, ya <strong>no podrá hacer ninguna modificación</strong> (ni siquiera invitar a más personas).' %}
                </p>
                <p>
                    {% trans 'Las invitaciones a participar en el proyecto se enviarán por correo electrónico <strong>cuando presente la solicitud</strong>.' %}<br>
                    {% trans 'Las personas que acepten la invitación pasarán a ser participantes del proyecto. Mientras tanto aparecerán en estado «Pendiente».' %}
                </p>
            </div>
        {% elif proyecto.estado == 'SOLICITADO' %}
            <div class="alert alert-info alert-dismissible fade show noprint">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

                <span class="fas fa-info-circle"></span>
                <p>
                    {% with proyecto.convocatoria.fecha_max_aceptos as fecha_max_aceptos %}
                        {% blocktrans %}Las personas invitadas a participar en el proyecto tienen de plazo hasta
                            el {{ fecha_max_aceptos }} para aceptar las invitaciones.{% endblocktrans %}
                    {% endwith %}
                </p>
                <p>{% blocktrans %}Quienes acepten la invitación pasarán a aparecer en la tabla «Participantes».
                    Mientras tanto aparecerán en estado «Pendiente».{% endblocktrans %}
                </p>
            </div>
        {% elif proyecto.aceptacion_coordinador and es_coordinador %}
            <div class="alert alert-info alert-dismissible fade show noprint">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

                <span class="fas fa-info-circle"></span>
                <p>
                    {% trans 'Bajo la tabla de datos básicos del proyecto puede encontrar el apartado para editar la <strong>memoria</strong>.' %}
                </p>
            </div>
        {% endif %}

        {% with logo_programa='img/'|concat:proyecto.programa.nombre_corto|concat:'.png' %}
            <p style="text-align: right;"><img src="{% static logo_programa %}" alt="Logo programa" height="240" width="240" /></p>
        {% endwith %}

        {# DetailView proporciona el objeto de contexto `proyecto` #}
        <h1 id="titulo">{{ proyecto.titulo }}
            {% if permitir_edicion %}
                <a href="{% url 'proyecto_update_field' proyecto.id 'titulo' %}" class="btn btn-info btn-sm">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span>&nbsp; {% trans 'Modificar' %}
                </a>
            {% endif %}
        </h1>
        <hr />
        <br />

        <div class="table-responsive">
            <table class="table table-hover table-striped table-sm" aria-label="titulo">
                <tr>
                    <th scope="row"><strong>{% trans 'ID del proyecto' %}</strong>:</th>
                    <td>{{ proyecto.id }}</td>
                </tr>

                {% if proyecto.codigo %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Código del proyecto' %}</strong>:</th>
                        <td>{{ proyecto.codigo }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th scope="row"><strong>{% trans 'Convocatoria' %}</strong>:</th>
                    <td>{{ proyecto.convocatoria_id }}</td>
                </tr>
                <tr>
                    <th scope="row"><strong>{% trans 'Programa' %}</strong>:</th>
                    <td>{{ proyecto.programa.nombre_corto }} ({{ proyecto.programa.nombre_largo }})</td>
                </tr>

                {% if proyecto.linea %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Línea' %}</strong>:</th>
                        <td>{{ proyecto.linea.nombre }}</td>
                    </tr>
                {% endif %}

                {% if proyecto.centro %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Centro' %}</strong>:</th>
                        <td>{{ proyecto.centro.nombre }}</td>
                    </tr>
                {% endif %}

                {% if proyecto.estudio %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Estudio' %}</strong>:</th>
                        <td>{{ proyecto.estudio.nombre }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th scope="row"><strong>{% trans 'Unidad de planificación' %}</strong>:</th>
                    <td>{{ proyecto.get_unidad_planificacion | default:"—" }}</td>
                </tr>

                <tr>
                    <th scope="row"><strong>{% trans 'Coordinador' %}</strong>:</th>
                    <td>{{ proyecto.coordinador.full_name }}</td>
                </tr>

                {% if proyecto.coordinador_2 %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Coordinador 2' %}</strong>:</th>
                        <td>{{ proyecto.coordinador_2.full_name }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th scope="row"><strong>{% trans 'Estado' %}</strong>:</th>
                    <td>{{ proyecto.get_estado_display }}
                        {% if es_gestor and proyecto.estado == "APROBADO" or es_gestor and proyecto.estado == "MEM_PRESENTADA" %}
                            <a href="{% url 'proyecto_update_field' proyecto.id 'estado' %}" class="btn btn-info btn-sm">
                                <span class="fas fa-pencil-alt" aria-hidden="true"></span>&nbsp; {% trans 'Modificar' %}
                            </a>
                        {% endif %}
                    </td>



                </tr>

                {% if proyecto.programa.requiere_visto_bueno_centro %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Visto bueno del centro' %}</strong>:</th>
                        <td>{{ proyecto.visto_bueno_centro | yesno:"Sí,No,—" }}</td>
                    </tr>
                {% endif %}

                {% if proyecto.programa.requiere_visto_bueno_estudio %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Visto bueno del estudio' %}</strong>:</th>
                        <td>{{ proyecto.visto_bueno_estudio | yesno:"Sí,No,—" }}</td>
                    </tr>
                {% endif %}

                {% if proyecto.ayuda_definitiva is not null and proyecto.convocatoria.notificada_resolucion_definitiva %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Ayuda definitiva' %}</strong>:</th>
                        <td>{{ proyecto.ayuda_definitiva }} €</td>
                    </tr>
                {% elif proyecto.ayuda_provisional is not null and proyecto.convocatoria.notificada_resolucion_provisional %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Ayuda provisional' %}</strong>:</th>
                        <td>{{ proyecto.ayuda_provisional }} €</td>
                    </tr>
                {% endif %}

                {% if proyecto.ayuda_provisional and proyecto.convocatoria.notificada_resolucion_provisional or proyecto.ayuda_definitiva and proyecto.convocatoria.notificada_resolucion_definitiva %}
                    <tr>
                        <th scope="row"><strong>{% trans 'Tipo de gasto' %}</strong>:</th>
                        <td>{{ proyecto.tipo_gasto }}</td>
                    </tr>
                {% endif %}

            </table>
        </div>
        <br />

        <!-- Aceptación de las condiciones concedidas -->
        {% if proyecto.aceptacion_comision and es_coordinador and proyecto.convocatoria.notificada_resolucion_provisional %}
            <h3>{% trans 'Aceptación de las condiciones' %}</h3>

            <p>
                {% if proyecto.aceptacion_coordinador is None %}
                    <a href="{% url 'proyecto_aceptar' proyecto.id %}" class="btn btn-info btn-sm">
                        <span aria-hidden="true" class="far fa-handshake"></span>&nbsp;
                        {% trans 'Aceptar/Rechazar…' %}
                    </a>
                {% else %}
                    <a href="{% url 'proyecto_ver_condiciones' proyecto.id %}" class="btn btn-info btn-sm">
                        <span aria-hidden="true" class="far fa-handshake"></span>&nbsp;
                        {% if proyecto.aceptacion_coordinador %}
                            {% trans 'Ver condiciones aceptadas' %}
                        {% else %}
                            {% trans 'Ver condiciones rechazadas' %}
                        {% endif %}
                    </a>
                {% endif %}
            </p>
        {% endif %}

        <!-- Memoria del proyecto -->
        {% if proyecto.aceptacion_coordinador and es_coordinador %}
            <h3>{% trans 'Memoria' %}</h3>

            <p><a href="{% url 'memoria_detail' proyecto.id %}" class="btn btn-info btn-sm">
                {% if proyecto.estado == 'ACEPTADO' or proyecto.estado == 'MEM_NO_ADMITIDA' %}
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span>&nbsp; {% trans 'Editar la memoria' %}
                {% else %}
                    <span class="far fa-eye" aria-hidden="true"></span>&nbsp; {% trans 'Ver la memoria' %}
                {% endif %}
            </a></p>
        {% endif %}

        <!-- Usuarios invitados -->
        <h3 id="invitaciones">{% trans 'Invitaciones' %}</h3>
        {% if invitados %}

            {% if proyecto.en_borrador %}
                <p>
                    {% trans 'Recuerde que las invitaciones no son efectivas hasta que <strong>presente</strong> su solicitud de proyecto.' %}
                </p>
            {% endif %}

            {% now 'Y-m-d' as fecha_actual %}
            {% with proyecto.convocatoria.fecha_max_aceptos as fecha_max_aceptos %}
                {% if fecha_max_aceptos|date:'Y-m-d' < fecha_actual %}
                    <div class="alert alert-info alert-dismissible fade show noprint">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

                        <span class="fas fa-info-circle"></span>
                        <p>{% blocktranslate %}
                            El plazo para aceptar/declinar invitaciones finalizó el {{ fecha_max_aceptos }}.
                        {% endblocktranslate %}</p>
                    </div>
                {% endif %}
            {% endwith %}

            <div class="table-responsive">
                <table class="table table-hover table-striped table-sm cabecera-azul" aria-label="invitaciones">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Usuario" %}</th>
                            <th scope="col">{% trans "Estado" %}</th>
                            {% if permitir_edicion %}
                                <th scope="col">{% trans "Acción" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for invitado in invitados %}
                        <tr>
                            <td>{{ invitado.usuario.full_name }}</td>
                            <td>
                                {% if invitado.tipo_participacion_id == "invitado" %}
                                    {% trans "Pendiente" %}{% else %}{% trans "Declinada" %}
                                {% endif %}
                            </td>
                            {% if permitir_edicion %}
                                <td>
                                    <a href="{% url 'participante_delete' invitado.id %}" aria-label="{% trans 'Eliminar' %}">
                                        <span aria-hidden="true" class="fas fa-trash-alt" title="{% trans 'Eliminar' %}"></span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p>{% trans 'Aquí aparecerán las personas a las que invite a participar en este proyecto.' %}</p>
        {% endif %}

        {% if permitir_invitar %}
            <p>
                <a href="{% url 'participante_invitar' proyecto.id %}" class="btn btn-info btn-sm">
                    <span class="fas fa-plus" aria-hidden="true"></span>&nbsp; {% trans 'Añadir' %}
                </a>
            </p>
        {% endif %}
        <br />

        <!-- Usuarios participantes -->
        <h3 id="participantes">{% trans 'Participantes' %}</h3>
        {% if participantes %}
            <div class="table-responsive">
                <table class="table table-hover table-striped table-sm cabecera-azul" aria-label="participantes">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Usuario" %}</th>
                            {% if es_coordinador or permitir_edicion %}
                                <th scope="col">{% trans 'E-mail' %}</th>
                            {% endif %}
                            {% if permitir_edicion %}
                                <th scope="col">{% trans "Acción" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for participante in participantes %}
                        <tr>
                            <td>{{ participante.usuario.full_name }}</td>
                            {% if es_coordinador or permitir_edicion %}
                                <td>{{ participante.usuario.email }}</td>
                            {% endif %}
                            {% if permitir_edicion %}
                                <td>
                                    <a href="{% url 'participante_delete' participante.id %}" aria-label="{% trans 'Eliminar' %}">
                                        <span aria-hidden="true" class="fas fa-trash-alt" title="{% trans 'Eliminar' %}"></span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p>{% trans 'Aquí aparecerán las personas que acepten la invitación a participar en este proyecto.' %}</p>
        {% endif %}
        <br />

        <!-- Añadir participante con carácter excepcional -->
        {% if permitir_anyadir_sin_invitacion %}
            <h4 id="anyadir-participante">{% trans 'Añadir participante de forma excepcional' %}</h4>
            <div class="alert alert-info alert-dismissible fade show noprint">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

                <span class="fas fa-info-circle"></span>
                <p>
                    {% blocktranslate %}Con carácter <strong>excepcional</strong>, y con
                        <strong>causas debidamente justificadas</strong>, el coordinador podrá solicitar al Presidente de la Comisión
                        Evaluadora la modificación del equipo de trabajo.<br />
                        Aquí puede añadir un participante al equipo, sin que tenga que manifestar su aceptación. {% endblocktranslate %}
                </p>
            </div>

            <p><a href="{% url 'participante_anyadir' proyecto.id %}" class="btn btn-info btn-sm">
                <span class="fas fa-plus" aria-hidden="true"></span>&nbsp; {% trans 'Añadir' %}
            </a></p>
            <br />
        {% endif %}

        <!-- Datos del proyecto -->
        <h3>{% trans 'Descripción' %}</h3>
        <p>{{ proyecto.descripcion | limpiar }}</p>

        {% if permitir_edicion %}
            <p>
                <a href="{% url 'proyecto_update_field' proyecto.id 'descripcion' %}" class="btn btn-info btn-sm">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span>&nbsp; {% trans 'Editar' %}
                </a>
            </p>
        {% endif %}

        {% for campo in campos %}
            <h3>{{ proyecto | get_attr_verbose_name:campo }}</h3>
            <p>{{ proyecto | get_obj_attr:campo | default:"" | limpiar }}</p>
            {% if permitir_edicion %}
                <p>
                    <a href="{% url 'proyecto_update_field' proyecto.id campo %}" class="btn btn-info btn-sm">
                        <span class="fas fa-pencil-alt" aria-hidden="true"></span>&nbsp; {% trans 'Editar' %}
                    </a>
                </p>
            {% endif %}
        {% endfor %}

        <h3>{{ proyecto | get_attr_verbose_name:"ayuda" }}</h3>
        <p>{{ proyecto.ayuda | default:0 }} €</p>

        {% if permitir_edicion %}
            <p>
                <a href="{% url 'proyecto_update_field' proyecto.id 'ayuda' %}" class="btn btn-info btn-sm">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span>&nbsp; {% trans 'Editar' %}
                </a>
            </p>
        {% endif %}

        <h3>{{ proyecto | get_attr_verbose_name:"financiacion" }}</h3>
        <p>{{ proyecto.financiacion | default:"" | limpiar }}</p>

        {% if permitir_edicion %}
            <p>
                <a href="{% url 'proyecto_update_field' proyecto.id 'financiacion' %}" class="btn btn-info btn-sm">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span>&nbsp; {% trans 'Editar' %}
                </a>
            </p>
        {% endif %}

        <!-- Botones -->
        <br style="clear: both;" />
        <div class="btn-group" role="group" aria-label="Botones">
            <a href="{{ url_anterior }}" class="btn btn-info">
                <span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}
            </a>

            {% if permitir_edicion and proyecto.en_borrador or es_gestor and proyecto.estado == 'SOLICITADO' %}
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#anularModal" type="button">
                    <span class="fas fa-trash-alt"></span> {% trans 'Anular' %}
                </button>
            {% endif %}
            {% if es_coordinador and proyecto.en_borrador %}
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#presentarModal" type="button">
                    <span class="fas fa-check"></span> {% trans 'Presentar' %}
                </button>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="anularModal" tabindex="-1" role="dialog" aria-labelledby="anularModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="anularModalLabel">{% trans "¿Seguro que desea anular la solicitud?" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Cerrar') }}"></button>
                </div>
                <div class="modal-body">
                    <p>
                        {% blocktrans %}Si anula esta solicitud de proyecto, perderá todos los
                            datos introducidos en ella.{% endblocktrans %}
                    </p>
                    <p>{% trans "Esta acción es <strong>irreversible</strong>." %}</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'proyecto_anular' pk=proyecto.id %}" id="eliminar-form" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">
                            <span class="fas fa-times"></span> {% trans "Cancelar" %}
                        </button>
                        <button type="submit" class="btn btn-danger">
                            <span class="fas fa-trash-alt"></span> {% trans "Anular" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="presentarModal" tabindex="-1" role="dialog" aria-labelledby="presentarModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="presentarModalLabel">{% trans "¿Seguro que desea presentar la solicitud?" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _('Cerrar') }}"></button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Una vez presentada ya no podrá hacer <strong>ningún cambio</strong> (ni siquiera invitar a más personas)." %}</p>
                    <p>
                        {% blocktrans %}Se enviarán mensajes informativos a las personas invitadas y,
                            en su caso, a quien deba dar su visto bueno.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}Conforme se vayan produciendo, la página del proyecto
                            se actualizará con las aceptaciones o declinaciones de las invitaciones.{% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}Al presentar la solicitud, usted se compromete, en caso de concesión, a cumplir con las
                            obligaciones establecidas en las bases de la convocatoria.{% endblocktrans %}
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'proyecto_presentar' pk=proyecto.id %}" id="presentar-form" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">
                            <span class="fas fa-times"></span> {% trans "Cancelar" %}
                        </button>
                        <button type="submit" class="btn btn-warning">
                            <span class="fas fa-check"></span> {% trans "Presentar" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
