{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Proyectos coordinados por el usuario" %}{% endblock title %}
{% block description %}{% trans "Proyectos coordinados por el usuario" %}{% endblock description %}

{% block content %}
<div class="container-blanco">

    <h1>{% trans "Proyectos coordinados" %}</h1>
    <hr><br>

    <ul>
    {% for proyecto in proyectos %}
        <li><a href="{% url 'proyecto_detail' proyecto.id %}">{{ proyecto.titulo }}</a></li>
    {% endfor %}
    </ul>

    <a href="{%url 'proyecto_new' %}" class="btn btn-info">{% trans "Solicitar nuevo proyecto" %}</a>

</div>
{% endblock content %}