{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% block title %}{% trans 'Nueva solicitud de proyecto' %}{% endblock title %}
{% block description %}{% trans 'Nueva solicitud de proyecto' %}{% endblock description %}

{% block content %}
    <div class="container-blanco">
        <div class="alert alert-info">
            <span class="fas fa-info-circle"></span>
            <p>
                {% trans 'Introduzca los <strong>datos básicos</strong> de su proyecto.' %}<br />
                {% trans 'Se creará un <strong>borrador</strong> de solicitud, en el cual <strong>podrá posteriormente añadir el resto de la información</strong> necesaria.' %}
            </p>
            <div>{% trans 'Podrá editar el borrador cuantas veces desee, hasta que finalmente decida presentar la solicitud.' %}</div>
        </div>

        <h1>{% trans 'Nueva solicitud de proyecto' %} <small>{{ anyo }}</small></h1>
        <hr />
        <br />

        <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="btn-group" role="group" aria-label="Botones">
                <a href="{% url 'mis_proyectos' anyo %}" class="btn btn-info"
                ><span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}</a
                    >
                    <button class="btn btn-warning" type="submit" title="{% trans 'Crear borrador de solicitud' %}">
                        <span class="fas fa-check"></span> {% trans 'Crear' %}
                    </button>
                </div>
            </form>
        </div>
{% endblock content %}
