{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% block title %}{% trans 'Nueva solicitud de proyecto' %}{% endblock title %}
{% block description %}{% trans 'Nueva solicitud de proyecto' %}{% endblock description %}

{% block content %}
<div class="container-blanco">
  <div class="alert alert-info">
    <span class="fas fa-info-circle"></span>
    <div>
      {% trans 'Introduzca los datos básicos de su proyecto.' %}<br />
      {% trans 'Se creará un <strong>borrador</strong> de solicitud, en el que posteriormente podrá añadir o modificar la información.' %}<br />
      {% trans 'Finalmente, podrá presentarla pulsando el botón «Presentar».' %}
    </div>
  </div>

  <h1>{% trans 'Nueva solicitud de proyecto' %}</h1>
  <hr />
  <br />

  <form action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="btn-group" role="group" aria-label="Botones">
      <a href="{% url 'proyectos_usuario_list' %}" class="btn btn-info"
        ><span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}</a
      >
      <button class="btn btn-warning" type="submit" title="{% trans 'Crear borrador de solicitud' %}">
        <span class="fas fa-check"></span> {% trans 'Crear' %}
      </button>
    </div>
  </form>
</div>
{% endblock content %}
