{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Actualizar solicitud de proyecto' %}{% endblock title %}
{% block description %}{% trans 'Actualizar solicitud de proyecto' %}{% endblock description %}
{% block extracss %}<style>
    label {
        display: block;
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    .helptext {
        color: #6c757d !important;
        display: block;
    }
</style>{% endblock extracss %}

{% block content %}
<div class="container-blanco">
    <h1>{% trans 'Actualizar solicitud de proyecto' %}</h1>
    <hr><br>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br style="clear: both;">
        <div class="btn-group" role="group" aria-label="Botones">
            <a href="{% url 'proyecto_detail' proyecto.id %}" class="btn btn-info"><span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}</a>
            <button class="btn btn-warning" type="submit"><span class="fas fa-check"></span> {% trans 'Actualizar' %}</button>
        </div>
    </form>
</div>
{% endblock content %}