html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("img/bg-pattern_nuevo1.png") #88a repeat scroll center 0;
    font-family: "LatoLatinWeb", sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 460px;
    margin-top: 56px;
}

h1>small {
    color: gray;
}

h2>small {
    color: gray;
}

/*** Navbar ***/
.bg-azul {
    background-color: #213c71;
}

.navbar-dark .navbar-brand {
    color: #d2d2d2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d2d2d2;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar .fas {
    font-size: 200%;
    line-height: 0;
    margin-top: 11px;
    vertical-align: top;
}

.dropdown-item .fas {
    font-size: 100%;
}

.navbar .icon-logoUZ {
    font-size: 250%;
    line-height: 0;
    position: absolute;
}

.screen-reader {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*** Jumbotron ***/
.jumbotron {
    background-color: transparent;
    color: white;
    text-align: center;
}

.jumbotron h1 {
    font-family: "LatoLatinWebLight", sans-serif;
    font-size: 3rem;
}

.jumbotron .fas {
    font-size: 150%;
}

.view-header {
    background: rgba(64, 64, 64, 0.41);
    color: white;
    /* font-size: .9rem; */
    line-height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 1rem 0 0.15rem 0;
    width: 83.33%;
    border-radius: 6px 6px 6px 6px;
}

.view-header ul {
    list-style: none;
}

.view-header a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

/*** Container ***/
.container-blanco {
    background-color: white;
    padding: 56px;
}

/*** Cabecera azul de las tablas ***/
.cabecera-azul table {
    border: 0px;
}

.cabecera-azul thead {
    background: #6595c0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.cabecera-azul thead tr {
    border-bottom: 1px solid #167f92;
}

.cabecera-azul thead tr th {
    border: 0px;
    color: white;
    padding: 0.375em 0.5em;
    border-bottom: 0.1875em solid #c0c0c0;
    font-weight: bold;
    vertical-align: middle;
}

.cabecera-azul thead tr th a {
    color: white;
}

.cabecera-azul .filters {
    background: #b2cadf;
}

.cabecera-azul tfoot {
    background: #b2cadf;
}

.cabecera-azul tbody tr td {
    border: 0px;
}

/*** Mensaje de alerta ***/
.alert .fas {
    float: left;
    font-size: 200%;
    margin-right: 9px;
}

/*** Footer ***/
.footer {
    background-color: #212121;
    bottom: 0;
    color: rgb(151, 151, 151);
    position: absolute;
    width: 100%;
}

.footer .p-md-5 {
    padding-bottom: 0px !important;
}

.footer .icon-logoUZ {
    font-size: 400%;
}

.footer a {
    font-weight: 500;
    color: #d2d2d2;
}

.footer a:focus,
.footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

.footer-links {
    font-size: 85%;
    padding-left: 0;
}

.footer-links li {
    display: inline-block;
}

.footer-links li+li {
    margin-left: 2rem;
}

.listado li {
    list-style-type: none;
    position: relative;
}

.listado li::before {
    content: ">";
    color: rgb(33, 102, 164);
    font-size: 1.4rem;
    font-weight: bold;
    left: -1.4rem;
    position: absolute;
    top: -0.3rem;
}

/* Bootstrap 4 no longer includes .btn-xs */
.btn-group-xs>.btn,
.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

.btn-no-button {
    background: none;
    border: none;
    padding: 0;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-left-1 {
    margin-left: 1em;
}

.margin-right-1 {
    margin-right: 1em;
}

.margin-top-1 {
    margin-top: 1em;
}

/*** DataTables ***/

.sorting_asc,
.sorting_desc {
    filter: brightness(200)
}

.dataTables_length {
    margin-bottom: 1em;
}


@media print {

    .nav,
    .breadcrumb,
    .footer,
    .navbar,
    .noprint {
        display: none !important;
    }

    /* Sobrescribo esta propiedad de Bootstrap para que
     * al imprimir no se añada la URL a los enlaces.
     */
    a[href]:after {
        content: "";
    }

    @page {
        size: A4;
    }

    html {
        margin: 0px;
        padding: 0px;
        width: 17cm;
        /* position: absolute; */

    }

    body {
        background: none;
        font-size: 12pt;
        /* Debian packages: fonts-texgyre libgs9-common fonts-sil-gentium fonts-ebgaramond-extra fonts-liberation */
        font-family: 'TeX Gyre Bonum', 'URW Bookman L', 'Bookman Old Style', 'Bookman', 'TeX Gyre Pagella', 'URW Palladio L', Palatino, 'Gentium', 'EB Garamond 12', 'Garamond', 'Liberation Serif', 'Times New Roman', Times, serif;
        line-height: normal;
        margin: 0cm;
        padding: 0px;
        width: 17cm;
    }

    .container-blanco {
        padding: 0px;
        margin: 0px;
        width: 17cm;
    }

    .listado {
        margin-left: -3rem;
    }

    .listado li,
    .listado li::before {
        font-size: 1.2rem;
    }

    .listado li::before {
        top: 0rem;
        left: -1rem;
    }

    h1,
    h2,
    h3,
    h4,
    table,
    table {
        font-family: 'LatoLatinWeb', sans-serif;
        font-size: 80%;
    }

    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 18pt;
        color: #000080;
    }

    h3 {
        font-size: 16pt;
        color: #000080;
    }

    h4 {
        font-size: 14pt;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }
}

.true {
    color: #28a745 !important;
}

.false {
    color: #dc3545 !important;
}


/* Oculta la caja de texto del campo financiacion */
#id_financiacion {
    display: none !important;
}

/* Estilos para mejorar la apariencia de los checkboxes */
.opciones-financiacion {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio entre opciones */
}

.opciones-financiacion label {
    display: flex;
    line-height: 1.5;
    /* align-items: center; */
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    transition: background 0.3s ease;

}

.opciones-financiacion input[type="checkbox"] {
    width: 18px;
    height: 18px;
    flex-shrink: 0;  /* Evita que el checkbox se reduzca */

}

/* Estilo cuando el checkbox está seleccionado */
.opciones-financiacion input[type="checkbox"]:checked + label {
    background-color: #062d57;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

label[for="id_financiacion"],
#id_financiacion,
#id_financiacion ~ .help_text {
    display: none !important;
}

/* .checkbox-group input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
    margin-right: 8px !important;
    vertical-align: middle !important;
} */
