{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Actualizar evaluador del proyecto' %}{% endblock title %}
{% block description %}{% trans 'Actualizar evaluador de proyecto' %}{% endblock description %}

{% block extracss %}<style>
    label {
        display: block;
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    .helptext {
        color: #6c757d !important;
        display: block;
    }
</style>
{% endblock extracss %}

{% block content %}
<div class="container-blanco">
    <h1>{% trans 'Actualizar evaluador del proyecto' %}</h1>
    <hr />
    <br />

    <div class="alert-info alert fade-in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <span class="fas fa-info-circle"></span>
        {% blocktrans %}
        <p>Aquí puede asignar un evaluador a un proyecto.</p>

        <p>Para que una persona aparezca en el desplegable de evaluadores, debe:</p>

        <ol>
            <li>
                <strong>Tener un NIP (identificador de usuario)</strong><br />
                Si el usuario nunca ha estado vinculado a la Universad de Zaragoza,
                puede obtener un NIP visitando la
                <a href="https://identidad.unizar.es/autoregistro" target="_blank" rel="noopener noreferrer">
                    página de autorregistro</a>
                <span class="fas fa-link" style="float: none; font-size: 100%;"></span>.
            </li>
            <li>
                <strong>Tener la vinculación «Evaluador externo innovación ACPUA»</strong><br />
                Una vez que el usuario disponga de un NIP, debe comunicárselo al Vicerrectorado
                de Política Académica para asignarle dicha vinculación en el Sistema de Gestión de
                Identidades.
            </li>
        </ol>
        {% endblocktrans %}
    </div><br />

    {% if proyecto.programa.requiere_visto_bueno_estudio and not proyecto.visto_bueno_estudio %}
        <div class="alert-warning alert fade-in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <span class="fas fa-exclamation-triangle"></span>
            <p>{% blocktrans with nombre_programa=proyecto.programa.nombre_corto %}
                El programa {{ nombre_programa }} requiere del visto bueno de un coordinador del estudio,
                y este proyecto <strong>no</strong> lo tiene.
            {% endblocktrans %}</p>
        </div><br />
    {% endif %}

    {% if proyecto.programa.requiere_visto_bueno_centro and not proyecto.visto_bueno_centro %}
        <div class="alert-warning alert fade-in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <span class="fas fa-exclamation-triangle"></span>
            <p>{% blocktrans with nombre_programa=proyecto.programa.nombre_corto %}
                Este proyecto <strong>carece</strong> del visto bueno del responsable del centro,
                preceptivo en el programa {{ nombre_programa }}.
            {% endblocktrans %}</p>
        </div><br />
    {% endif %}

    {% if not proyecto.tiene_participantes %}
        <div class="alert-warning alert fade-in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <span class="fas fa-exclamation-triangle"></span>
            <p>{% trans 'En este proyecto <strong>no</strong> hay ningún participante además del coordinador.' %}</p>
        </div><br />
    {% endif %}

    <p><label>Proyecto:</label> {{ proyecto.titulo }}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br style="clear: both;" />
        <div class="btn-group" role="group" aria-label="Botones">
            <a href="{% url 'evaluadores_table' proyecto.convocatoria_id %}" class="btn btn-info">
                <span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}
            </a>
            <button class="btn btn-warning" type="submit">
                <span class="fas fa-check"></span> {% trans 'Actualizar' %}
            </button>
        </div>
    </form>
</div>
{% endblock content %}
