{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Proyectos de un usuario" %}{% endblock title %}
{% block description %}{% trans "Buscar los proyectos a los que está vinculado un usuario" %}{% endblock description %}

{% block content %}
    <div class="container-blanco">

        <div class="alert alert-info">
            <span class="fas fa-info-circle"></span>
            <p>{% blocktranslate %}
                Puede introducir <strong>indistintamente</strong> el NIP o el correo de la persona
                para la que desee buscar los proyectos a los que está vinculado.
            {% endblocktranslate %}</p>
        </div>

        <select aria-label="Cambiar de convocatoria" class="form-select" name="convocatoria" onchange="location = this.value;" style="float: right; width: 150px;">
            {% for convocatoria in convocatorias %}
                <option value="{% url 'proyectos_de_un_usuario_form' convocatoria.id %}"
                        {% if convocatoria.id == anyo %}selected="selected"{% endif %}
                >{{convocatoria}}</option>
            {% endfor %}
        </select>

        <h1>{% trans "Buscar los proyectos de un usuario" %} <small>{{ anyo }}</small></h1>
        <hr />
        <br />

        <form action="" method="post">
            {% csrf_token %}

            {{ form | crispy }}

            <div class="btn-group" role="group" aria-label="{{ _('Botones') }}">
                <button class="btn btn-success" type="submit">
                    <span class="fa-solid fa-magnifying-glass"></span> {% trans 'Buscar' %}
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
