{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Evaluaciones de los proyectos" %}{% endblock title %}

{% block content %}
<div class='container-blanco'>
    <h1 id="presentados">{% trans "Evaluaciones de los proyectos" %} <small>{{ anyo }}</small></h1>
    <hr />
    <br />

    <div class="alert-info alert fade-in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <span class="fas fa-info-circle"></span>
        <p>{% trans 'Desde esta página puede:' %}</p>
        <ul>
        <li>{% trans 'Ver las evaluaciones de los proyectos presentados en esta convocatoria' %}</li>
        <li>{% trans 'Introducir la resolución de la Comisión Evaluadora' %}</li>
        <li>{% trans 'Descargar una hoja de cálculo con todas las evaluaciones' %}</li>
        </ul>
    </div><br />

    {% render_table table %}

    <div>
      <a href="{% url 'csv_evaluaciones' anyo %}" class="btn btn-info">
        <span class="fas fa-file-csv"></span>&nbsp; {% trans "Descargar evaluaciones" %}
      </a>
    </div
</div>
{% endblock content %}