{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Evaluadores de los proyectos" %}{% endblock title %}

{% block content %}
<div class='container-blanco'>
    <h1 id="presentados">{% trans "Evaluadores de los proyectos" %} <small>{{ anyo }}</small></h1>
    <hr />
    <br />

    <div class="alert-info alert fade-in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <span class="fas fa-info-circle"></span>
        <p>{% trans "Aquí puede:" %}</p>
        <ol>
          <li>{% trans "Ver las solicitudes de proyecto presentadas" %}</li>
          <li>{% trans "Comprobar si cumplen los requisitos (vistos buenos preceptivos, participantes que hayan aceptado la invitación)" %}</li>
          <li>{% trans "Asignar un evaluador a los proyectos que cumplan los requisitos" %}</li>
        </ol>
    </div><br />

    {% render_table table %}
</div>
{% endblock content %}
