{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Proyectos" %} {{ anyo }}{% endblock title %}

{% block content %}
    <div class='container-blanco'>
        <select aria-label="Cambiar de convocatoria" class="custom-select form-select" name="convocatoria" onchange="location = this.value;" style="float: right; width: 150px;">
            {% for convocatoria in convocatorias %}
                <option value="{% url 'proyectos_table' convocatoria.id %}"
                    {% if convocatoria.id == anyo %}selected="selected"{% endif %}
                >{{convocatoria}}</option>
            {% endfor %}
        </select>

        <h1 id="proyectos">{% trans "Proyectos" %} <small>{{ anyo }}</small></h1>
        <hr />
        <br />

        <div class="alert alert-info alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ _('Cerrar') }}">
                <span aria-hidden="true">&times;</span>
            </button>

            <span class="fas fa-info-circle"></span>
            {% trans "Aquí puede ver todos los proyectos introducidos en esta convocatoria." %}
            {% trans "Puede filtrarlos por su estado." %}
        </div><br />

        {% crispy filter.form filter.form.helper %}
        <br />

        {% render_table table %}

        <br style="clear: both;" />
        <div class="btn-group" role="group" aria-label="Botones">
            <a href="{% url 'csv_proyectos' anyo %}" class="btn btn-info">
                <span class="fas fa-file-csv"></span>&nbsp; {% trans "Descargar proyectos" %}
            </a>
        </div>
    </div>
{% endblock content %}
