{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% block title %}{% trans "Añadir un colaborador a un proyecto" %}{% endblock title %}
{% block description %}{% trans "Añadir colaborador" %}{% endblock description %}

{% block content %}
    <div class="container-blanco">
        <div class="alert alert-info">
            <span class="fas fa-info-circle"></span>
            <p>{% blocktranslate %}
                Como coordinador, puede añadir colaboradores al equipo de trabajo una vez que ha aceptado el proyecto, siempre 
                y cuando no se haya presentado ni admitido la memoria.
            {% endblocktranslate %}</p>
        </div>

        <h1>{% blocktranslate with titulo=proyecto.titulo %}Añadir colaborador al proyecto «{{ titulo }}»{% endblocktranslate %}</h1>
        <hr />
        <br />

        <form action="" method="post">
            {% csrf_token %}

            <div id="div_id_nip" class="form-group">
                <label for="id_nip" class="requiredField">{% trans 'NIP' %}<span class="asteriskField">*</span></label>
                <div>
                    <input type="number" name="nip" class="numberinput form-control" required id="id_nip">
                    <small id="hint_id_nip" class="form-text text-muted">{% trans 'Número de Identificación Personal en la Universidad de Zaragoza de la persona a añadir como colaborador.' %}</small>
                </div>
            </div>

            <div class="btn-group" role="group" aria-label="Botones">
                <a href="{% url 'proyecto_detail' proyecto.id %}" class="btn btn-info">
                    <span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}
                </a>
                <button class="btn btn-warning" type="submit" title="{% trans 'Añadir al titular de este NIP como colaborador' %}">
                    <span class="fas fa-user-plus"></span> {% trans 'Añadir' %}
                </button>
            </div>
        </form>

    </div>
{% endblock content %}
