{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Generar Certificado" %}{% endblock title %}
{% block description %}{% trans "Generar «Hace Certificado» para un participante" %}{% endblock description %}

{% block content %}
<div class="container-blanco">

  <div class="alert alert-info">
    <span class="fas fa-info-circle"></span>
    {% blocktranslate %}
      <p>Puede introducir el NIF, NIE o número de pasaporte de la persona para la que desee generar el «Certificado».</p>
      <p>Se generará un fichero PDF que podrá descargar y enviar a Heraldo para que sea firmado.</p>
    {% endblocktranslate %}
  </div>



  <h1>{% trans "Generar Certificado" %} </h1>
  <hr />
  <br />

  <form action="" method="post">
    {% csrf_token %}

    {{ form | crispy }}

    <div class="btn-group" role="group" aria-label="{{ _('Botones') }}">
        <a href="{{ url_anterior }}" class="btn btn-info">
        <span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}
      </a>
      <button class="btn btn-success" type="submit">
        <span class="fas fa-file-pdf"></span> {% trans 'Generar PDF' %}
      </button>
    </div>
  </form>
</div>
{% endblock content %}
