{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Generar Hace Constar" %}{% endblock title %}
{% block description %}{% trans "Generar «Hace Constar» para un participante" %}{% endblock description %}

{% block content %}
    <div class="container-blanco">

        <div class="alert alert-info">
            <span class="fas fa-info-circle"></span>
            {% blocktranslate %}
                <p>Puede introducir <strong>indistintamente</strong> el NIP o el correo de la persona para la que desee generar el «Hace constar».</p>
                <p>Se generará un fichero PDF que podrá descargar y enviar a Heraldo para que sea firmado.</p>
            {% endblocktranslate %}
        </div>

        <select aria-label="Cambiar de convocatoria" class="custom-select form-select" name="convocatoria" onchange="location = this.value;" style="float: right; width: 150px;">
            {% for convocatoria in convocatorias %}
                <option value="{% url 'hace_constar' convocatoria.id %}"
                    {% if convocatoria.id == anyo %}selected="selected"{% endif %}
                >{{convocatoria}}</option>
            {% endfor %}
        </select>

        <h1>{% trans "Generar Hace Constar" %} <small>{{ anyo }}</small></h1>
        <hr />
        <br />

        <form action="" method="post">
            {% csrf_token %}

            {{ form | crispy }}

            <div class="btn-group" role="group" aria-label="{{ _('Botones') }}">
                <a href="{{ url_anterior }}" class="btn btn-info">
                    <span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}
                </a>
                <button class="btn btn-success" type="submit">
                    <span class="fas fa-file-pdf"></span> {% trans 'Generar PDF' %}
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
