{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% block title %}{% trans "Invitar a un proyecto" %}{% endblock title %}
{% block description %}{% trans "Invitar a un proyecto" %}{% endblock description %}

{% block content %}
<div class="container-blanco">
  <div class="alert alert-info">
    <span class="fas fa-info-circle"></span>
    <p>{% trans 'Introduzca el NIP de la persona que desee invitar a su proyecto.' %}</p>
    <div>
      {% trans 'Cuando presente su solicitud se enviará un correo electrónico a cada persona invitada.' %}<br />
      {% trans 'Las personas que acepten la invitación pasarán a ser participantes del proyecto.' %}
    </div>
  </div>

  <h1>{% blocktrans with titulo=proyecto.titulo %}Invitar al proyecto «{{ titulo }}»{% endblocktrans %}</h1>
  <hr />
  <br />

  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="btn-group" role="group" aria-label="Botones">
      <a href="{% url 'proyecto_detail' proyecto.id %}" class="btn btn-info"
        ><span class="fas fa-step-backward"></span> {% trans 'Retroceder' %}</a
      >
      <button class="btn btn-warning" type="submit" title="{% trans 'Invitar' %}">
        <span class="fas fa-check"></span> {% trans 'Invitar' %}
      </button>
    </div>
  </form>

</div>
{% endblock content %}
