{% extends 'base.html' %}
{% load i18n custom_tags static %}
{% block title %}{% trans "403 Prohibido" %}{% endblock title %}
{% block description %}{% trans "403 Prohibido" %}{% endblock description %}

{% block content %}
    <div class="container-blanco">
        <h1>{% trans "403 Prohibido" %}</h1>
        <hr />
        <br />

        <div style="text-align: center;">
            <p><img src="{% static 'img/star_wars_lego_storm_trooper_parade.jpg' %}" alt="Tropas imperiales" width="600" height="310" /></p>
            <p>{% trans 'No está autorizado a realizar esta acción:' %}</p>

            {% comment %}
            The template context contains `exception`,
            which is the string representation of the exception that triggered the view.
            {% endcomment %}

            <div class="alert alert-danger" role="alert">
                {% alert_icon 'error' %}
                {{ exception }}
            </div>
        </div>
    </div>
{% endblock content %}
