{% extends 'base.html' %}
{% load i18n custom_tags static %}
{% block title %}{% trans "403 Prohibido" %}{% endblock title %}
{% block description %}{% trans "403 Prohibido" %}{% endblock description %}

{% block content %}
<div class="container-blanco">
  <h1>{% trans "403 Prohibido" %}</h1>
  <hr />
  <br />

  <div style="text-align: center;">
    <p><img src="{% static 'img/star_wars_lego_storm_trooper_parade.jpg' %}" alt="Tropas imperiales"></p>
    <p>{% trans 'No está autorizado a realizar esta acción:' %}<p>

    <div class="alert alert-danger" role="alert">
      {% alert_icon 'error' %}
      {{ exception }}
    </div>
  </div>
</div>
{% endblock content %}
