{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Ayuda" %}{% endblock title %}
{% block description %}{% trans "Ayuda" %}{% endblock description %}

{% block content %}
<div class="container-blanco">
  <h1>{% trans "Ayuda" %}</h1>
  <hr />
  <br />

  <h2>{% trans "Soporte administrativo" %}</h2>

  <p>
    {% blocktrans %}Contacte con el <a href="mailto:innova.docen@unizar.es">Vicerrectorado de Política Académica</a>.{% endblocktrans %}
  </p>

  <h2>{% trans "Soporte técnico" %}</h2>

  <p>{% trans 'Abra un ticket en <a href="https://ayudica.unizar.es/otrs/customer.pl">Ayudica</a>.' %}</p>
</div>
{% endblock content %}
