{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Ayuda" %}{% endblock title %}
{% block description %}{% trans "Ayuda" %}{% endblock description %}

{% block content %}
<div class="container-blanco">
  <h1>{% trans "Ayuda" %}</h1>
  <hr />
  <br />

  <p>{% blocktrans %}
    Todas las consultas relativas a esta convocatoria y a su resolución se realizarán
    <strong>únicamente</strong> a través del sistema de gestión de incidencias
    <strong><a href="https://ayudica.unizar.es/otrs/customer.pl" target="_blank" rel="noopener noreferrer">Ayudica</a></strong>,
    al que se accede con el usuario y contraseña del correo electrónico.
    {% endblocktrans %}
  </p>
</div>
{% endblock content %}
