{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="p-4 mb-4 rounded-3">
        <div class="container-fluid py-5 jumbotron">
            <span class="fas fa-project-diagram" style="font-size: 400%;"></span><br /><br />
            <h1>{% trans "<strong>Proyectos</strong> de<br /><strong>Innovación</strong> Docente" %}</h1>
            <br />
            <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span>
        </div>
    </div>
{% endblock content %}
