{% extends 'base.html' %}
{% load custom_tags i18n %}

{% block title %}{% trans "Evaluación" %}: {{ proyecto.titulo }}{% endblock title %}

{% block content %}
    <div class="container-blanco">
        <h1 id="cabecera">{% trans "Evaluación" %} <small>{{ proyecto.titulo }}</small></h1>
        <hr />
        <br />

        <div class="alert alert-info alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>

            <span class="fas fa-info-circle"></span>
            {% trans 'Aquí puede ver la evaluación del proyecto.' %}
        </div><br />

        {% for criterio in criterios %}
            <p><strong>{{ criterio.descripcion }}</strong></p>

            {% with valoracion=dict_valoraciones|get_item:criterio.id %}

                {% if criterio.tipo == 'opcion' %}
                    {% if valoracion.opcion %}
                        <p>{{ valoracion.opcion.puntuacion }}: {{ valoracion.opcion.descripcion }}</p>
                    {% else %}
                        <p>—</p>
                    {% endif %}
                {% elif criterio.tipo == 'texto' %}
                    <div>{{ valoracion.texto | default:'—' }}</div>
                {% endif %}

            {% endwith %}

            <br />
        {% endfor %}

    </div>
{% endblock content %}
