{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Proyectos a evaluar" %}{% endblock title %}

{% block content %}
<div class='container-blanco'>
    <h1 id="presentados">{% trans "Proyectos a evaluar" %} <small>{{ anyo }}</small></h1>
    <hr />
    <br />

    <div class="alert-info alert fade-in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <span class="fas fa-info-circle"></span>
        {% trans "Aquí puede ver los proyectos que se le han asignado para su evaluación." %}
    </div><br />

    {% render_table table %}
</div>
{% endblock content %}
